<% include partials/header %> 



<div class="container">
    <header class="jumbotron">
        <h2>404 found </h2>
        <p>Rantic Ice-Cream by GP</p>
        
    </header>
    
</div>



<% include partials/footer %> 